body {
	background-image: url("../images/download.JPG");
}

h1 {
	text-align: center;
	color: white;
	background-color: #010066; 
	padding: 25px 0;
}

.pic1 {width: 500px}

p {text-align: center}

.active {
	background-color: #fff;
	padding: 25px;
    border: 5px solid #010066;
    margin: 0; 
	}

